<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Super Cool Data Maker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        <div id='intro'>
            <h1>Get ready for a challenge of <em>speed</em></h1>
            <h2>The goal is to click all the circles as fast as possible. Click the button to start.</h2>
        </div>
        <div id='start'>
            <button id='verticalCenter'>Start</button>
        </div>
        <h1 id='clock'></h1>
        <div id='gameSpace'>

        </div>
    </body>
</html>