<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leaderboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h2 id='board'>Top 10 Scores</h2>
        <table class="center">
            <tr>
                <th>Name</th>
                <th>Points</th>
            </tr>
            {% for row in result %}
            <tr>
                <td> {{ row[0] }}</td>
                <td> {{ row[1] }}</td>
            </tr>
            {% endfor %}
        </table>
        <div id='board'>
            <h3 id='caption'>If you would like to delete a user from the leaderboard. Enter them below</h3>
            <form method='POST'>
                <br><br>
                <input type='name' name='name' placeholder='Enter Name'>
                <br>
                <input type='submit' name='submit'>
            </form>
        </div>
    </body>
</html>